// SPDX-FileCopyrightText: © 2026 Olivier Meunier <olivier@neokraft.net>
//
// SPDX-License-Identifier: AGPL-3.0-only

package routes

import (
	"net/url"

	"codeberg.org/readeck/readeck/internal/bookmarks/dataset"
	"codeberg.org/readeck/readeck/internal/server"

	. "codeberg.org/readeck/readeck/components"
	F "codeberg.org/readeck/readeck/components/forms"
)

templ (v Views) collectionInfoHead(item *dataset.Collection) {
	<link
		rel="alternate"
		href={ string(URL(ctx, "/api/bookmarks/feed")) + "?collection=" + item.ID }
		type="application/atom+xml"
		title="Atom Feed"
	/>
	<meta name="turbo-refresh-scroll" content="preserve"/>
}

templ (v Views) collectionList(cl *dataset.CollectionList) {
	{{ title := L(ctx).Gettext("Bookmark Collections") }}
	@SideMenuLayout(title, v.menu()) {
		<h1 class="title text-h2">{ title }</h1>
		<p class="my-4">
			<a
				href={ URL(ctx, "./add") }
				class="btn btn-primary"
			>
				{ L(ctx).Gettext("Create a new collection") }
			</a>
		</p>
		if cl.Pagination.TotalCount == 0 {
			<div class="flex gap-4 max-w-std">
				<div class="-mt-2">
					@Icon("o-big-arrow",
						WithIconClass("inline-block h-36 text-yellow-500"), WithIconSvgClass("h-36"),
						WithIconSize(50, 250),
					)
				</div>
				<div class="flex-grow-0">
					<div class="prose my-4 px-4 pt-4 text-blue-800 bg-yellow-100 border border-blue-800 rounded">
						<p>
							{ L(ctx).Gettext(`
                Collections let you easily organize and export your bookmarks
                by saving search requests of your choice.
                When you create a new bookmark that matches a collection's
                criteria, it will appear immediately.
                Here are some examples:
              `) }
						</p>
						<ul>
							<li>{ L(ctx).Gettext("The unread articles (no photos or videos)") },</li>
							<li>{ L(ctx).Gettext(`The archived articles from "wikipedia.org"`) },</li>
							<li>{ L(ctx).Gettext(`The pictures with the label "cat"`) },</li>
							<li>{ L(ctx).Gettext(`The articles that contain "shelter" in their title`) }.</li>
						</ul>
					</div>
					<p>
						@templ.Raw(L(ctx).Gettext(
							`Read more about collections in the <a class="%s" href="%s">documentation</a>.`,
							"link",
							URL(ctx, "/docs/collections"),
						))
					</p>
				</div>
			</div>
		} else {
			<turbo-frame
				id="collection-list"
				data-controller="turbo-refresh"
				data-turbo-refresh-interval-value="10"
				data-turbo-refresh-on-value="[data-collection-deleted='true']"
			>
				@Pagination(&cl.Pagination)
				@List() {
					for _, c := range cl.Items {
						@ListItem("flex gap-2 items-center hfw:bg-gray-100 max-md:block") {
							<a class="block flex-grow p-4" href={ URL(ctx, ".", c.ID) }>
								<strong class="link font-semibold">{ c.Name }</strong>
								<small class="block">
									{ L(ctx).Gettext("Created on: %s", Strftime(ctx, c.Created, "%e %B %Y")) }
								</small>
							</a>
							if c.IsDeleted {
								<div
									class="flex items-center max-w-xs m-4 max-md:mt-0"
									data-collection-deleted="true"
								>
									<span class="text-red-700 text-xs font-semibold">
										{ L(ctx).Gettext("This collection will be removed in a few seconds.") }
									</span>
									<form action={ URL(ctx, ".", c.ID, "delete") } method="post">
										<input type="hidden" name="cancel" value="1"/>
										<button
											type="submit"
											class="btn btn-primary whitespace-nowrap text-sm py-1 ml-2"
										>
											@Icon("o-undo")
											{ " " }
											{ L(ctx).Gettext("Undo") }
										</button>
									</form>
								</div>
							}
						}
					}
				}
				@Pagination(&cl.Pagination)
			</turbo-frame>
		}
	}
}

templ (v Views) collectionCreate(f *collectionForm, bl *dataset.BookmarkList) {
	{{ title := L(ctx).Gettext("New Collection") }}
	@SideMenuLayout(title, v.menu()) {
		<h1 class="title text-h2">{ title }</h1>
		<div class="bookmark-list">
			<div class="bookmark-list-container">
				<div class="bookmark-filters">
					<form action={ URL(ctx) } method="post">
						@F.Errors(f)
						@F.TextField(f.Get("name"),
							F.Label(L(ctx).Gettext("Name")),
							F.Required(true),
							F.Classes("mb-2"),
							F.InputAttr("autofocus", true),
						)
						@FilterComponents{}.filters(f)
						<div class="bookmark-filters--actions">
							<button class="btn btn-primary" type="submit">{ L(ctx).Gettext("Save") }</button>
						</div>
					</form>
				</div>
				@Components{}.bookmarkList(bl)
			</div>
		</div>
	}
}

templ (v Views) collectionInfo(item *dataset.Collection, f *collectionForm, bl *dataset.BookmarkList) {
	{{
		layout := NewLayout()
		layout.Head = v.collectionInfoHead(item)
	}}
	@layout.SideMenuLayout(L(ctx).Gettext("Collection %s", item.Title), v.menu(), layout.SideMenuWrapper()) {
		if item.IsDeleted {
			@Components{}.collectionTitle(item)
			<form action={ URL(ctx, "./delete") } method="post">
				<input type="hidden" name="_to" value={ CurrentPath(ctx) }/>
				@Message() {
					{ L(ctx).Gettext("Collection will be removed in a few seconds.") }
					&nbsp;
					<button class="btn btn-primary" name="cancel" value="1">
						{ L(ctx).Gettext("Cancel") }
					</button>
				}
			</form>
		} else {
			{{ editing := server.GetRequest(ctx).URL.Query().Get("edit") == "1" }}
			<turbo-frame
				id="bookmark-list"
				data-controller="turbo-refresh"
				data-turbo-refresh-interval-value="10"
				data-turbo-refresh-on-value="[data-bookmark-deleted='true']"
			>
				<div class="flex flex-wrap items-center gap-2">
					@Components{}.collectionTitle(item)
					@Components{}.listActions() {
						<form action={ URL(ctx) } method="get">
							<input type="hidden" name="edit" value={ Tern(func() bool { return editing }, 0, 1) }/>
							<button
								type="submit"
								class="btn-outlined btn-primary py-1"
								data-controller="remote"
								data-action="remote#toggleDetails:prevent"
								data-remote-selector-param="#filters"
							>
								@Icon("o-pencil")
								{ " " }
								{ L(ctx).Gettext("Edit") }
							</button>
						</form>
						if HasPermission(ctx, "api:bookmarks", "export") {
							{{
								q := url.Values{"collection": {item.ID}}
								if of, ok := checkOrderForm(ctx); ok {
									q[of.fieldName] = of.value()
								}
							}}
							@Components{}.exportMenu(q)
						}
					}
				</div>
				<div class="bookmark-list-container mt-2">
					<details id="filters" class="bookmark-filters" open?={ editing }>
						<summary>
							@Icon("o-filter")
							{ " " }
							{ L(ctx).Gettext("Filters") }
						</summary>
						<p class="mb-4 flex gap-2">
							<strong>{ L(ctx).Gettext("Filters") }</strong>
							<a
								href={ URL(ctx, "/docs/bookmark-list") + "#filters" }
								class="link ml-auto"
							>
								@Icon("o-help")
								{ " " }
								{ L(ctx).Gettext("Documentation") }
							</a>
						</p>
						{{
							q := server.GetRequest(ctx).URL.Query()
							q.Set("edit", "1")
						}}
						<form action={ URL(ctx, "?"+q.Encode()) } method="post">
							@F.Errors(f)
							@F.TextField(f.Get("name"),
								F.Label(L(ctx).Gettext("Name")),
								F.Required(true),
							)
							@FilterComponents{}.filters(f)
							<input type="hidden" name="bf" value="1"/>
							<div class="bookmark-filters--actions mt-4">
								<button class="btn btn-primary">{ L(ctx).Gettext("Save") }</button>
								<button
									class="btn-outlined btn-danger"
									formaction={ URL(ctx, "./delete") }
									formmethod="post"
								>
									@Icon("o-trash")
									{ " " }
									{ L(ctx).Gettext("Delete collection") }
								</button>
							</div>
						</form>
					</details>
					@Components{}.bookmarkList(bl)
				</div>
			</turbo-frame>
		}
	}
}

templ (c Components) collectionTitle(item *dataset.Collection) {
	<h1 class="flex-grow title mb-0 text-h2 max-md:w-full">
		<span class="font-normal">
			<a class="link" href={ URL(ctx, "/bookmarks/collections") }>
				{ L(ctx).Gettext("Collections") }
			</a>
			/
		</span>
		{ item.Name }
	</h1>
}
