// SPDX-FileCopyrightText: © 2026 Olivier Meunier <olivier@neokraft.net>
//
// SPDX-License-Identifier: AGPL-3.0-only

package routes

import (
	"codeberg.org/readeck/readeck/pkg/forms"

	. "codeberg.org/readeck/readeck/components"
	F "codeberg.org/readeck/readeck/components/forms"
)

type FilterComponents struct{}

var compactField = F.Classes("field-h--compact")

templ (c FilterComponents) filters(f *FilterForm) {
	<div class="space-y-4 text-sm">
		@F.TextField(&f.Search, F.Label(L(ctx).Gettext("Search")))
		@c.autoComplete(&f.Title, L(ctx).Gettext("Title"), "title", false)
		@c.autoComplete(&f.Author, L(ctx).Gettext("Author"), "author", false)
		@c.autoComplete(&f.Site, L(ctx).Gettext("Site"), "site", false)
		@c.autoComplete(&f.Labels, L(ctx).Gettext("Label"), "label", true)
		@F.TextField(&f.Note, F.Label(L(ctx).Gettext("Note")))
		@F.TimeTokenField(&f.RangeStart, F.Label("From date"),
			compactField,
		)
		@F.TimeTokenField(&f.RangeEnd,
			F.Label("To date"),
			compactField,
		)
		@F.MultiSelectField[string](&f.Type,
			F.Label(L(ctx).Gettext("Type")),
			compactField,
		)
		@F.MultiSelectField[string](&f.ReadStatus,
			F.Label(L(ctx).Pgettext("filter", "Progress")),
			compactField,
		)
		@c.yesNo(&f.IsMarked, L(ctx).Gettext("Is Favorite"))
		@c.yesNo(&f.IsArchived, L(ctx).Gettext("Is Archived"))
		@c.yesNo(&f.IsLoaded, L(ctx).Gettext("Is Loaded"))
		@c.yesNo(&f.HasLabels, L(ctx).Gettext("With Labels"))
		@c.yesNo(&f.HasErrors, L(ctx).Gettext("With Errors"))
	</div>
}

templ (c FilterComponents) autoComplete(field *forms.TextField, label string, ft string, multiple bool) {
	@F.TextField(field,
		F.Label(label),
		F.Classes("relative"),
		F.ControlAttrs(templ.Attributes{
			"data-controller":                  "autocomplete",
			"data-autocomplete-quotes-value":   "true",
			"data-autocomplete-multiple-value": multiple,
			"data-autocomplete-url-value":      string(URL(ctx, "/api/bookmarks/@complete?type="+ft)),
			"data-autocomplete-item-class":     "p-2 whitespace-nowrap hf:bg-primary hf:text-white cursor-pointer",
			"data-autocomplete-selected-class": "bg-primary text-white",
		}),
		F.InputAttrs(templ.Attributes{
			"autocapitalize":              "off",
			"data-turbo-empty-submit-end": "1",
			"data-autocomplete-target":    "input",
		}),
	) {
		<ul
			hidden
			class="absolute z-50 border shadow bg-gray-50 min-w-full max-w-full max-h-48 overflow-y-auto rounded"
			data-autocomplete-target="results"
		></ul>
	}
}

templ (c FilterComponents) yesNo(field *forms.BooleanField, label string) {
	@F.SelectField[bool](field, F.Label(label), compactField) {
		<option value=""></option>
		<option value="true" selected?={ field.Value() }>{ L(ctx).Gettext("yes") }</option>
		<option value="false" selected?={ field.IsBound() && !field.IsNil() && !field.IsEmpty() && !field.Value() }>{ L(ctx).Gettext("no") }</option>
	}
}
