// SPDX-FileCopyrightText: © 2026 Olivier Meunier <olivier@neokraft.net>
//
// SPDX-License-Identifier: AGPL-3.0-only

package routes

import (
	"strconv"
	"strings"

	. "codeberg.org/readeck/readeck/components"
)

type ReaderControlComponent struct{}

templ (c ReaderControlComponent) controls() {
	{{ prefs := Preferences(ctx) }}
	<details
		class="no-js:hidden relative"
		data-controller="menu request"
		data-request-url-value={ URL(ctx, "/api/profile") }
		data-request-method-value="patch"
	>
		<summary class="list-none hf:text-gray-700" role="button">
			@Icon("o-font-family", WithIconClass("inline-block"), WithIconSvgClass("h-6 w-6"))
			<span class="sr-only">{ L(ctx).Gettext("Display options") }</span>
		</summary>
		<div
			class="
				absolute top-6 right-0 w-72 max-h-[calc(100vh-12rem)] overflow-y-auto
				overscroll-y-contain
				shadow-lg text-gray-900 bg-gray-50 border border-gray-300 rounded-md p-4
			"
		>
			@c.fontChoice()
			@c.numericChoice("settings_reader_width",
				prefs.ReaderWidth().Value, prefs.WidthList(),
				"o-width",
				L(ctx).Gettext("Width"),
				L(ctx).Gettext("Current Width"),
				L(ctx).Gettext("Decrease width"),
				L(ctx).Gettext("Increase width"),
			)
			@c.numericChoice("settings_reader_font_size",
				prefs.ReaderFontSize().Value, prefs.FontSizes(),
				"o-font-size",
				L(ctx).Gettext("Size"),
				L(ctx).Gettext("Current font size"),
				L(ctx).Gettext("Decrease font size"),
				L(ctx).Gettext("Increase font size"),
			)
			@c.numericChoice("settings_reader_line_height",
				prefs.ReaderLineHeight().Value, prefs.LineHeights(),
				"o-line-height",
				L(ctx).Gettext("Line height"),
				L(ctx).Gettext("Current line height"),
				L(ctx).Gettext("Decrease line height"),
				L(ctx).Gettext("Increase line height"),
			)
			@c.booleanChoice("settings_reader_justify",
				prefs.ReaderJustify().Value, prefs.Justify(),
				"o-text-justify",
				L(ctx).Gettext("Justify"),
				L(ctx).Gettext("Justify text"),
				L(ctx).Gettext("Don't justify text"),
			)
			@c.booleanChoice("settings_reader_hyphenation",
				prefs.ReaderHyphenation().Value, prefs.Hyphenation(),
				"o-text-hyphen",
				L(ctx).Gettext("Hyphenation"),
				L(ctx).Gettext("With hyphenation"),
				L(ctx).Gettext("Without hyphenation"),
			)
		</div>
	</details>
}

templ (c ReaderControlComponent) fontChoice() {
	{{ prefs := Preferences(ctx) }}
	<details
		class="flex flex-col gap-2 border-b pb-2"
		data-controller="styler-option"
		data-styler-option-styler-outlet="[data-controller~='styler']"
	>
		<summary class="flex items-center gap-2 p-2 -mx-2 rounded-sm border border-transparent hover:border-gray-300">
			@Icon("o-font")
			<span class="flex-grow font-semibold">{ L(ctx).Gettext("Font") }</span>
			@Icon("o-chevron-r")
		</summary>
		<div class="flex flex-col gap-1 mt-1 -mx-2" role="menu">
			for _, x := range prefs.FontList() {
				<button
					class="
            capitalize py-1 px-2 text-left text-lg rounded-sm border border-transparent
            hf:border-gray-300 data-[current]:bg-gray-200 {{ x[1] }}
          "
					value={ x[0] }
					data-choice-value={ x[1] }
					data-styler-option-target="choices"
					data-action="styler-option#setChoice"
					{ templ.Attributes{
								"data-current": prefs.ReaderFont().Value == x[0],
								"aria-current": strconv.FormatBool(prefs.ReaderFont().Value == x[0]),
							}... }
				>
					{ strings.ReplaceAll(x[0], "-", " ") }
				</button>
			}
		</div>
		<input
			type="hidden"
			name="settings_reader_font"
			value={ prefs.ReaderFont().Value }
			data-styler-option-target="value"
			data-action="styler-option:setValue->request#fetch"
		/>
	</details>
}

templ (c ReaderControlComponent) numericChoice(
	prefName string, currentValue string, choices []string,
	iconName, label, labelCurrent, labelDecrease, labelIncrease string,
) {
	<div
		class="mt-4 flex items-center gap-2"
		data-controller="styler-option"
		data-styler-option-styler-outlet="[data-controller~='styler']"
		data-styler-option-values-value={ JSON(choices, false) }
	>
		@Icon(iconName)
		{ " " }
		<span class="flex-grow">{ label }</span>
		<button
			class="btn-outlined py-1.5 w-9 rounded"
			aria-label={ labelDecrease }
			data-action="styler-option#decreaseValue"
		>
			@Icon("o-minus")
		</button>
		<input
			class="p-1 text-center text-sm bg-gray-200 rounded-full"
			type="text"
			size="1"
			disabled
			name={ prefName }
			value={ currentValue }
			aria-label={ labelCurrent }
			aria-live="polite"
			data-styler-option-target="value"
			data-action="styler-option:setValue->request#fetch"
		/>
		<button
			class="btn-outlined py-1.5 w-9 rounded"
			aria-label={ labelIncrease }
			data-action="styler-option#increaseValue"
		>
			@Icon("o-plus")
		</button>
	</div>
}

templ (c ReaderControlComponent) booleanChoice(
	prefName string, currentValue string, choices [2]string,
	iconName, label, labelYes, labelNo string,
) {
	<div
		class="mt-4 flex items-center gap-2"
		data-controller="styler-option"
		data-styler-option-styler-outlet="[data-controller~='styler']"
	>
		@Icon(iconName)
		<span class="flex-grow">{ label }</span>
		<div class="btn-group">
			for i, name := range choices {
				{{ si := strconv.Itoa(i) }}
				<button
					class="btn-outlined data-[current]:bg-gray-200 data-[current]:text-app-fg"
					value={ i }
					data-choice-value={ name }
					aria-label={ Tern(func() bool { return i == 1 }, labelYes, labelNo) }
					data-styler-option-target="choices"
					data-action="styler-option#setChoice"
					{ templ.Attributes{
            "data-current": si == currentValue,
            "aria-current": strconv.FormatBool(si == currentValue),
          }... }
				>
					{ Tern(func() bool { return i == 1 }, L(ctx).Gettext("yes"), L(ctx).Gettext("no")) }
				</button>
			}
		</div>
		<input
			type="hidden"
			name={ prefName }
			value={ currentValue }
			data-styler-option-target="value"
			data-action="styler-option:setValue->request#fetch"
		/>
	</div>
}
