// SPDX-FileCopyrightText: © 2026 Olivier Meunier <olivier@neokraft.net>
//
// SPDX-License-Identifier: AGPL-3.0-only

package profile

import (
	"codeberg.org/readeck/readeck/internal/server"

	. "codeberg.org/readeck/readeck/components"
	F "codeberg.org/readeck/readeck/components/forms"
)

templ (v Views) userPassword(f *changePasswordForm) {
	{{
		title := L(ctx).Gettext("My profile")
		user := server.GetUser(ctx)
	}}
	@v.base(title) {
		<h1 class="title text-h2">{  title }</h1>
		if !user.Locked() {
			<form action={ URL(ctx) } method="post" class="mb-8">
				@F.Errors(f)
				<fieldset>
					<legend class="title text-h3">{ L(ctx).Gettext("Change my password") }</legend>
					@F.PasswordField(&f.Current,
						F.Label(L(ctx).Gettext("Current password")),
						F.Required(true),
						F.Classes("field-h"),
						F.InputAttr("autocomplete", "current-password"),
					)
					@F.PasswordField(&f.Password,
						F.Label(L(ctx).Gettext("New password")),
						F.Required(true),
						F.Classes("field-h"),
						F.InputAttr("autocomplete", "new-password"),
						F.Help(L(ctx).Gettext("must be at least 8 characters long")),
					)
					<p class="btn-block">
						<button class="btn btn-primary" type="submit" name="action" value="change">
							{ L(ctx).Gettext("Save") }
						</button>
					</p>
				</fieldset>
			</form>
		}
		<form action={ URL(ctx) } method="post">
			<fieldset>
				<legend class="title text-h3">{ L(ctx).Gettext("Verification Code (TOTP)") }</legend>
				<p>{ L(ctx).Gettext("A verification code is a one time code generated by an application, such as Google Authenticator.") }</p>
				if user.HasTOTP() {
					<p class="mt-4 font-semibold">
						@Icon("o-check-on", WithIconClass("svgicon text-green-700"))
						{ "" }
						{ L(ctx).Gettext("The verification code is enabled on this account.") }
					</p>
					@Message(WithMessageType(""), WithMessageIcon("")) {
						<details>
							<summary>{ L(ctx).Gettext("Remove Verification Code") }</summary>
							<p class="mt-2 font-semibold text-red-700">
								{ L(ctx).Gettext("Removing your verification code will make your account less secure.") }
							</p>
							<p class="mt-2">
								<button class="btn-outlined btn-danger" type="submit" name="action" value="remove-totp">
									@Icon("o-trash")
									{ "" }
									{ L(ctx).Gettext("Remove") }
								</button>
							</p>
						</details>
					}
				} else {
					<p class="mt-4">
						<a class="btn-outlined btn-primary" href={ URL(ctx, "/profile/otp") }>
							{ L(ctx).Gettext("Setup Verification Code") }
						</a>
					</p>
				}
			</fieldset>
		</form>
	}
}

templ (v Views) setupTOTP(f *totpForm) {
	{{ title := L(ctx).Gettext("Setup Verification Code") }}
	@v.base(title) {
		<h1 class="title text-h2">{  title }</h1>
		<form action={ URL(ctx) } method="post">
			<input type="hidden" name={ f.Secret.Name() } value={ f.Secret.Value() }/>
			if f.code.Secret != "" {
				<h2 class="title text-h3">{ L(ctx).Gettext("Scan this QR code with your app") }</h2>
				<p class="my-4">{ L(ctx).Gettext("Scan the QR code below with a two-factor authentication app on your phone.") }</p>
				<img
					class="border border-primary-dark rounded bg-white p-4"
					src={ QRCodeB64(f.code.URL().String(), ColorPrimary, -6) }
					alt=""
					width="304"
					height="304"
					data-totp-uri={ f.code.URL().String() }
				/>
				<p class="mt-4">{ L(ctx).Gettext("If you can't use the QR code, enter the code below instead.") }</p>
				<p><strong>{ f.code.Secret }</strong></p>
			}
			<p class="mt-8 font-semibold">{ L(ctx).Gettext("Enter the code from your application.") }</p>
			<p class="mb-4">
				{ L(ctx).Gettext("After scanning the QR code, the app will display a six-digit code that you need to enter below.") }
			</p>
			@F.TextField(&f.OTP,
				F.Label(L(ctx).Gettext("Code from your device")),
				F.Required(true),
				F.InputClasses("form-input"),
				F.InputAttr("autocompleter", "one-time-code"),
			)
			<p class="btn-block">
				<button class="btn btn-primary" type="submit">{ L(ctx).Gettext("Finish") }</button>
			</p>
		</form>
	}
}
